**Question 1:**

use the dictionary

port1={21:"FTP",22:"SSH",23:"Telnet",80:"http"}

and make a new dictionary in which keys become values and values become keys

In [14]:
port1={21:"FTP",22:"SSH",23:"Telnet",80:"http"} 
  
port2 = dict([(value, key) for key, value in port1.items()]) 
print(port1)  
  
print() 
print ("Dictionary after swapping is :  ")  
print("keys: values") 
for i in port2:  
   print(i, " :  ", port2[i])

{21: 'FTP', 22: 'SSH', 23: 'Telnet', 80: 'http'}

Dictionary after swapping is :
keys: values
FTP  :   21
SSH  :   22
Telnet  :   23
http  :   80

**Question 2:**

take alist of tuple

[(1,2),(3,4),(5,6),(4,5)]

make a new list which contains the sum of the numbers of tuples

In [22]:
list=[(1,2),(3,4),(5,6),(4,5)]
[sum(tup) for tup in list]

[3, 7, 11, 9]

**Question 3:**

take a list as shown below

[(1,2,3),[1,2],["a","hit","less"]]

the list contains tuple and list make the elements of inner lists and tuples to outer list.

In [25]:
list=[(1,2,3),[1,2],["a","hit","less"]]
res=[]
for i in list: 
    if type(i)==type(list): 
        res=res+i
    elif type(i)==tuple:
        res.extend(i)
    else: 
        res.append(i)

print(res)

[(1, 2, 3), 1, 2, 'a', 'hit', 'less']